
.vs

BlazorAppTest.Client/bin/

BlazorAppTest.Client/obj/

BlazorAppTest.Data/bin/
BlazorAppTest.Data/obj/

BlazorAppTest.Resource/bin/



BlazorAppTest.Resource/obj/

BlazorAppTest.XUnitTest/bin/
BlazorAppTest.XUnitTest/obj/

BlazorAppTest/bin/
BlazorAppTest/obj/
